/* Hangman game */

body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	background-color: #eee;
	color: #808080;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #eee;
	text-decoration: none;
}

/* Style Header */
#myheader {
	background-color: #024c62;
}

#myheader h2 {
	font-weight: 600;
	font-size: 25px;
	letter-spacing: 5px;
}

#username {
	color: #fe6767;
}

/* Style Modal window for start button */
.my-modal {
	display: none;
	position: fixed; 
	padding-top: 50px;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%; 
	background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.my-modal-content {
	position: relative; 
	background-color: #fff;
	margin: auto; 
	width: 50%;  
}

/* Modal Header */
.my-modal-header {
	padding: 0 20px;
	background-color: #b8dddb;
	text-align: center;
}

/* Modal Body */
.my-modal-body {
	padding: 20px;
	color: #666;
	text-align: center;
}

.close-btn {
	font-size: 42px;  
	cursor: pointer;
}

.close-btn:hover {
	color: #222;
}

/* Style Gameboard */
#game-board {
	min-height: 80vh;
	width: 88%;
}

#current {
    font-size: 36px;
    letter-spacing: 10px;
}

.letters {
	width: 500px;
}

button.letter {
	width: 75%;
}

#lostGame button,
#winGame button {
    width: 25%;
}

/* Style Footer */
#myfooter {
	font-size: 12px;
	background-color: #053543;
}

/***************** Responsive ******************/

/*extra Small devices*/
@media (max-width: 480px) {
	#myheader h2 {
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	} 

	#myheader h2 {
		font-size: 26px;
		padding-left: 40px;
		padding-right: 40px;
	}

	#game-board {
		width: 88%;
	}

	.my-modal-content {
	    width: 80%;
	}

	#lostGame button,
	#winGame button {
	    width: 75%;
	}
}